extends layout

block content
  div(class="chat_window")
    div(class="top_menu")
      div(class="buttons")
        div(class="button close")
        div(class="button minimize")
        div(class="button maximize")
      div(class="title") #{title}
      ul(class="messages")
      div(class="bottom_wrapper clearfix")
        div(class="message_input_wrapper")
          input(type="text" class="message_input" placeholder="Yaz bir seyler...")
        div(class="send_message")
          div(class="icon")
          div(class="text") Gönder

  div(class="message_template")
    li(class="message")
      div(class="avatar")
      div(class="text_wrapper")
        div(class="text")

  
